.orange-bg{
    background-color: #FCE6E8;
    border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#ED3780 ;
}
.buy-now-button{
    background-color: #EA377C;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.cat1{
    background-color: #F2AD27;
    padding: 10px 30px;
    border-radius: 11px;
}
.cat2{
    background-color: #EB327B;
    padding: 10px 30px;
    border-radius: 11px;

}
.cat3{
    background-color: #363CFB;
    padding: 10px 30px;
    border-radius: 11px;

}
.categories h1{
    color: white;
}
.categories img{
    width: 110px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border-top: none;
}
#subscribe{
    height: 300px;
}
footer{
    text-align: center;
}